pipeline/load_staging_tables.json
{
	"name": "load_staging_tables",
	"properties": {
		"activities": [
			{
				"name": "load_staging_building",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "buildings_json",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Staging_Building",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "iterate_categories",
				"description": "",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_categories",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_categories').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "sp_load_category_staging",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_category_staging]",
								"storedProcedureParameters": {
									"category": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabaseLinkedService",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "get_categories",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "load_staging_building",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select Name from CategorySchema.Category",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Category",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": []
	}
}