aim-demo-omgeving/PartialArmTemplates/ArmTemplate_6_4_2020_15_23_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "aim-demo-omgeving"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/delete_staging_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_clean_staging_data",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_clean_staging_data]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseLinkedService",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Staging"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/load_hubs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_HUB_Building",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "String"
										},
										"sink": {
											"name": "Building_ID",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Staging_Building",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "HUB_Building",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Load_HUB_Category",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Category_ID"
										},
										"sink": {
											"name": "Category_ID"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Category",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "HUB_Category",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "DV"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Staging_Building')]",
				"[concat(variables('factoryId'), '/datasets/HUB_Building')]",
				"[concat(variables('factoryId'), '/datasets/Category')]",
				"[concat(variables('factoryId'), '/datasets/HUB_Category')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/load_links')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_Link_Building_Details",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Load_LINK_Building_Details",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"folder": {
					"name": "DV"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Load_LINK_Building_Details')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/load_sats')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_Sat_Building",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Load_Sats",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"folder": {
					"name": "DV"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Load_Sats')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/load_staging_tables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "iterate_categories",
						"description": "",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_categories",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_categories').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "sp_load_category_staging",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[sp_category_staging]",
										"storedProcedureParameters": {
											"category": {
												"value": {
													"value": "@item().Name",
													"type": "Expression"
												},
												"type": "String"
											},
											"category_id": {
												"value": {
													"value": "@item().Category_ID",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabaseLinkedService",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "get_categories",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "load_buildings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Category",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "load_buildings",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "buildings_json",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Staging_Building",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Staging"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Category')]",
				"[concat(variables('factoryId'), '/datasets/buildings_json')]",
				"[concat(variables('factoryId'), '/datasets/Staging_Building')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Category')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Category_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "CategorySchema",
					"table": "Category"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HUB_Building')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DV"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Building_sqnr",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Building_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Load_date_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record_source",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SpijkerkwartierDV",
					"table": "HUB_Building"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HUB_Category')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DV"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Category_sqnr",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Category_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Load_date_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record_source",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SpijkerkwartierDV",
					"table": "HUB_Category"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LINK_Building_Details')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DV"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Building_sqnr",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Category_sqnr",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Load_date_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record_source",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SpijkerkwartierDV",
					"table": "LINK_Building_Details"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAT_Building')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DV"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Building_sqnr",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Load_date_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "End_date_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record_source",
						"type": "varchar"
					},
					{
						"name": "Name",
						"type": "varchar"
					},
					{
						"name": "Owner",
						"type": "varchar"
					},
					{
						"name": "Function_",
						"type": "varchar"
					},
					{
						"name": "Construction_year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Slanting_roof_height",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Heat_effect",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "SpijkerkwartierDV",
					"table": "SAT_Building"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAT_Building_Details')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DV"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Building_sqnr",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Category_sqnr",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Load_date_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "End_date_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record_source",
						"type": "varchar"
					},
					{
						"name": "Construction_cost_m2",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Demolish_cost_m2",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Buyout_cost_m2",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Sell_price_m2",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Parking_lot_demand_per_m2",
						"type": "float",
						"precision": 15
					},
					{
						"name": "parking_lots_per_m2",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "SpijkerkwartierDV",
					"table": "SAT_Building_Details"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAT_Category')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DV"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Category_sqnr",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Load_date_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "End_date_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record_source",
						"type": "varchar"
					},
					{
						"name": "Name",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SpijkerkwartierDV",
					"table": "SAT_Category"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Staging_Building')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DISTURBANCE_DISTANCE_M",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TRAFFIC_FLOW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GREEN_M2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BOWEN_RATIO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SLANTING_ROOF_HEIGHT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OWNER",
						"type": "text"
					},
					{
						"name": "ZONING_PERMIT_REQUIRED",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BRIDGE_CONSTRUCTION_COST_M2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BRIDGE_PARKING_LOTS_DEMAND_PER_M2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GROUND_COLOR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ROOF_COLOR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SEWERED",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DRAINAGE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TRAFFIC_LANES",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LIVABILITY_EFFECT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WATER_MANNING",
						"type": "float",
						"precision": 15
					},
					{
						"name": "WATER_STORAGE_M2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MONUMENTAL",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BRIDGE_SELL_PRICE_M2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEMOLISH_TIME_IN_MONTHS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FUNCTION_",
						"type": "text"
					},
					{
						"name": "NAME",
						"type": "text"
					},
					{
						"name": "BRIDGE_HEAT_POWER_TO_FLOW_MULTIPLIER",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GROUND_INFILTRATION_MD",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BRIDGE_UNIT_SIZE_M2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "HEIGHT_OFFSET_M",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CRITICAL_INFRASTRUCTURE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BOUWJAAR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ROOT_DEPTH_M",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TRAFFIC_NOISE_SIGMA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TRAFFIC_SPEED",
						"type": "int",
						"precision": 10
					},
					{
						"name": "HEAT_EFFECT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MAX_FLOORS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BRIDGE_DEMOLISH_COST_M2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BRIDGE_HEAT_FLOW_M2_START_VALUE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BRIDGE_BUYOUT_COST_M2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BRIDGE_HEAT_FLOW_M2_CHANGE_PER_YEAR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WATER_EVAPORATION_FACTOR",
						"type": "float",
						"precision": 15
					},
					{
						"name": "BRIDGE_CATEGORY_WEIGHT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DISTANCE_ZONE_M",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TRAFFIC_NOISE_TAU",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FOLIAGE_CROWN_FACTOR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BRIDGE_HEAT_FLOW_M2_START_YEAR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEFAULT_FLOORS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EXTRA_COLOR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TOP_COLOR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PIPES_PERMITTED",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FLOOR_HEIGHT_M",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TERRAIN_MIX",
						"type": "float",
						"precision": 15
					},
					{
						"name": "FLOATING",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BRIDGE_PARKING_LOTS_PER_M2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MIN_FLOORS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SAFETY_DISTANCE_M",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CONSTRUCTION_TIME_IN_MONTHS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ROAD_HEAT_FLOW_M2_START_YEAR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ROAD_HEAT_POWER_TO_FLOW_MULTIPLIER",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ROAD_UNIT_SIZE_M2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ROAD_HEAT_FLOW_M2_CHANGE_PER_YEAR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ROAD_CONSTRUCTION_COST_M2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ROAD_PARKING_LOTS_DEMAND_PER_M2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ROAD_CATEGORY_WEIGHT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ROAD_HEAT_FLOW_M2_START_VALUE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ROAD_BUYOUT_COST_M2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ROAD_PARKING_LOTS_PER_M2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ROAD_SELL_PRICE_M2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ROAD_DEMOLISH_COST_M2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PAVED_AREA_CONSTRUCTION_COST_M2",
						"type": "text"
					},
					{
						"name": "PAVED_AREA_SELL_PRICE_M2",
						"type": "text"
					},
					{
						"name": "PAVED_AREA_PARKING_LOTS_DEMAND_PER_M2",
						"type": "text"
					},
					{
						"name": "PAVED_AREA_UNIT_SIZE_M2",
						"type": "text"
					},
					{
						"name": "PAVED_AREA_PARKING_LOTS_PER_M2",
						"type": "text"
					},
					{
						"name": "PAVED_AREA_HEAT_FLOW_M2_START_VALUE",
						"type": "text"
					},
					{
						"name": "PAVED_AREA_DEMOLISH_COST_M2",
						"type": "text"
					},
					{
						"name": "PAVED_AREA_BUYOUT_COST_M2",
						"type": "text"
					},
					{
						"name": "PAVED_AREA_HEAT_POWER_TO_FLOW_MULTIPLIER",
						"type": "text"
					},
					{
						"name": "PAVED_AREA_HEAT_FLOW_M2_START_YEAR",
						"type": "text"
					},
					{
						"name": "PAVED_AREA_HEAT_FLOW_M2_CHANGE_PER_YEAR",
						"type": "text"
					},
					{
						"name": "PAVED_AREA_CATEGORY_WEIGHT",
						"type": "text"
					},
					{
						"name": "SOCIAL_UNIT_SIZE_M2",
						"type": "text"
					},
					{
						"name": "SOCIAL_PARKING_LOTS_PER_M2",
						"type": "text"
					},
					{
						"name": "SOCIAL_CONSTRUCTION_COST_M2",
						"type": "text"
					},
					{
						"name": "SOCIAL_SELL_PRICE_M2",
						"type": "text"
					},
					{
						"name": "SOCIAL_CATEGORY_WEIGHT",
						"type": "text"
					},
					{
						"name": "CONSTRUCTION_FINISH_DATE",
						"type": "text"
					},
					{
						"name": "SOCIAL_HEAT_FLOW_M2_CHANGE_PER_YEAR",
						"type": "text"
					},
					{
						"name": "SOCIAL_HEAT_FLOW_M2_START_VALUE",
						"type": "text"
					},
					{
						"name": "SOCIAL_BUYOUT_COST_M2",
						"type": "text"
					},
					{
						"name": "SOCIAL_PARKING_LOTS_DEMAND_PER_M2",
						"type": "text"
					},
					{
						"name": "SOCIAL_HEAT_POWER_TO_FLOW_MULTIPLIER",
						"type": "text"
					},
					{
						"name": "SOCIAL_HEAT_FLOW_M2_START_YEAR",
						"type": "text"
					},
					{
						"name": "SOCIAL_DEMOLISH_COST_M2",
						"type": "text"
					},
					{
						"name": "SHOPPING_BUYOUT_COST_M2",
						"type": "text"
					},
					{
						"name": "SHOPPING_DEMOLISH_COST_M2",
						"type": "text"
					},
					{
						"name": "SHOPPING_CATEGORY_WEIGHT",
						"type": "text"
					},
					{
						"name": "SHOPPING_HEAT_FLOW_M2_START_VALUE",
						"type": "text"
					},
					{
						"name": "SHOPPING_SELL_PRICE_M2",
						"type": "text"
					},
					{
						"name": "SHOPPING_CONSTRUCTION_COST_M2",
						"type": "text"
					},
					{
						"name": "SHOPPING_HEAT_POWER_TO_FLOW_MULTIPLIER",
						"type": "text"
					},
					{
						"name": "SHOPPING_HEAT_FLOW_M2_START_YEAR",
						"type": "text"
					},
					{
						"name": "SHOPPING_HEAT_FLOW_M2_CHANGE_PER_YEAR",
						"type": "text"
					},
					{
						"name": "SHOPPING_UNIT_SIZE_M2",
						"type": "text"
					},
					{
						"name": "SHOPPING_PARKING_LOTS_PER_M2",
						"type": "text"
					},
					{
						"name": "SHOPPING_PARKING_LOTS_DEMAND_PER_M2",
						"type": "text"
					},
					{
						"name": "OTHER_CONSTRUCTION_COST_M2",
						"type": "text"
					},
					{
						"name": "OTHER_SELL_PRICE_M2",
						"type": "text"
					},
					{
						"name": "OTHER_HEAT_FLOW_M2_CHANGE_PER_YEAR",
						"type": "text"
					},
					{
						"name": "OTHER_PARKING_LOTS_PER_M2",
						"type": "text"
					},
					{
						"name": "OTHER_HEAT_POWER_TO_FLOW_MULTIPLIER",
						"type": "text"
					},
					{
						"name": "OTHER_BUYOUT_COST_M2",
						"type": "text"
					},
					{
						"name": "OTHER_UNIT_SIZE_M2",
						"type": "text"
					},
					{
						"name": "OTHER_HEAT_FLOW_M2_START_YEAR",
						"type": "text"
					},
					{
						"name": "OTHER_DEMOLISH_COST_M2",
						"type": "text"
					},
					{
						"name": "OTHER_HEAT_FLOW_M2_START_VALUE",
						"type": "text"
					},
					{
						"name": "OTHER_CATEGORY_WEIGHT",
						"type": "text"
					},
					{
						"name": "OTHER_PARKING_LOTS_DEMAND_PER_M2",
						"type": "text"
					},
					{
						"name": "NORMAL_CONSTRUCTION_COST_M2",
						"type": "text"
					},
					{
						"name": "NORMAL_PARKING_LOTS_PER_M2",
						"type": "text"
					},
					{
						"name": "NORMAL_HEAT_FLOW_M2_START_VALUE",
						"type": "text"
					},
					{
						"name": "NORMAL_BUYOUT_COST_M2",
						"type": "text"
					},
					{
						"name": "NORMAL_DEMOLISH_COST_M2",
						"type": "text"
					},
					{
						"name": "NORMAL_HEAT_FLOW_M2_CHANGE_PER_YEAR",
						"type": "text"
					},
					{
						"name": "NORMAL_PARKING_LOTS_DEMAND_PER_M2",
						"type": "text"
					},
					{
						"name": "NORMAL_HEAT_POWER_TO_FLOW_MULTIPLIER",
						"type": "text"
					},
					{
						"name": "NORMAL_CATEGORY_WEIGHT",
						"type": "text"
					},
					{
						"name": "NORMAL_HEAT_FLOW_M2_START_YEAR",
						"type": "text"
					},
					{
						"name": "NORMAL_UNIT_SIZE_M2",
						"type": "text"
					},
					{
						"name": "NORMAL_SELL_PRICE_M2",
						"type": "text"
					},
					{
						"name": "OFFICES_CATEGORY_WEIGHT",
						"type": "text"
					},
					{
						"name": "OFFICES_HEAT_FLOW_M2_START_YEAR",
						"type": "text"
					},
					{
						"name": "OFFICES_HEAT_FLOW_M2_CHANGE_PER_YEAR",
						"type": "text"
					},
					{
						"name": "OFFICES_HEAT_FLOW_M2_START_VALUE",
						"type": "text"
					},
					{
						"name": "OFFICES_DEMOLISH_COST_M2",
						"type": "text"
					},
					{
						"name": "OFFICES_PARKING_LOTS_PER_M2",
						"type": "text"
					},
					{
						"name": "OFFICES_SELL_PRICE_M2",
						"type": "text"
					},
					{
						"name": "OFFICES_UNIT_SIZE_M2",
						"type": "text"
					},
					{
						"name": "OFFICES_PARKING_LOTS_DEMAND_PER_M2",
						"type": "text"
					},
					{
						"name": "OFFICES_CONSTRUCTION_COST_M2",
						"type": "text"
					},
					{
						"name": "OFFICES_HEAT_POWER_TO_FLOW_MULTIPLIER",
						"type": "text"
					},
					{
						"name": "OFFICES_BUYOUT_COST_M2",
						"type": "text"
					},
					{
						"name": "LUXE_PARKING_LOTS_PER_M2",
						"type": "text"
					},
					{
						"name": "LUXE_HEAT_FLOW_M2_CHANGE_PER_YEAR",
						"type": "text"
					},
					{
						"name": "LUXE_HEAT_POWER_TO_FLOW_MULTIPLIER",
						"type": "text"
					},
					{
						"name": "LUXE_DEMOLISH_COST_M2",
						"type": "text"
					},
					{
						"name": "LUXE_UNIT_SIZE_M2",
						"type": "text"
					},
					{
						"name": "LUXE_CONSTRUCTION_COST_M2",
						"type": "text"
					},
					{
						"name": "LUXE_CATEGORY_WEIGHT",
						"type": "text"
					},
					{
						"name": "LUXE_SELL_PRICE_M2",
						"type": "text"
					},
					{
						"name": "LUXE_HEAT_FLOW_M2_START_YEAR",
						"type": "text"
					},
					{
						"name": "LUXE_HEAT_FLOW_M2_START_VALUE",
						"type": "text"
					},
					{
						"name": "LUXE_BUYOUT_COST_M2",
						"type": "text"
					},
					{
						"name": "LUXE_PARKING_LOTS_DEMAND_PER_M2",
						"type": "text"
					},
					{
						"name": "INDUSTRY_DEMOLISH_COST_M2",
						"type": "text"
					},
					{
						"name": "INDUSTRY_BUYOUT_COST_M2",
						"type": "text"
					},
					{
						"name": "INDUSTRY_CATEGORY_WEIGHT",
						"type": "text"
					},
					{
						"name": "INDUSTRY_SELL_PRICE_M2",
						"type": "text"
					},
					{
						"name": "INDUSTRY_HEAT_FLOW_M2_CHANGE_PER_YEAR",
						"type": "text"
					},
					{
						"name": "INDUSTRY_PARKING_LOTS_PER_M2",
						"type": "text"
					},
					{
						"name": "INDUSTRY_HEAT_FLOW_M2_START_YEAR",
						"type": "text"
					},
					{
						"name": "INDUSTRY_PARKING_LOTS_DEMAND_PER_M2",
						"type": "text"
					},
					{
						"name": "INDUSTRY_HEAT_FLOW_M2_START_VALUE",
						"type": "text"
					},
					{
						"name": "INDUSTRY_CONSTRUCTION_COST_M2",
						"type": "text"
					},
					{
						"name": "INDUSTRY_UNIT_SIZE_M2",
						"type": "text"
					},
					{
						"name": "INDUSTRY_HEAT_POWER_TO_FLOW_MULTIPLIER",
						"type": "text"
					},
					{
						"name": "EDUCATION_HEAT_POWER_TO_FLOW_MULTIPLIER",
						"type": "text"
					},
					{
						"name": "EDUCATION_SELL_PRICE_M2",
						"type": "text"
					},
					{
						"name": "EDUCATION_BUYOUT_COST_M2",
						"type": "text"
					},
					{
						"name": "EDUCATION_HEAT_FLOW_M2_CHANGE_PER_YEAR",
						"type": "text"
					},
					{
						"name": "EDUCATION_UNIT_SIZE_M2",
						"type": "text"
					},
					{
						"name": "EDUCATION_CONSTRUCTION_COST_M2",
						"type": "text"
					},
					{
						"name": "EDUCATION_PARKING_LOTS_PER_M2",
						"type": "text"
					},
					{
						"name": "EDUCATION_CATEGORY_WEIGHT",
						"type": "text"
					},
					{
						"name": "EDUCATION_HEAT_FLOW_M2_START_YEAR",
						"type": "text"
					},
					{
						"name": "EDUCATION_DEMOLISH_COST_M2",
						"type": "text"
					},
					{
						"name": "EDUCATION_PARKING_LOTS_DEMAND_PER_M2",
						"type": "text"
					},
					{
						"name": "EDUCATION_HEAT_FLOW_M2_START_VALUE",
						"type": "text"
					},
					{
						"name": "LEISURE_PARKING_LOTS_PER_M2",
						"type": "text"
					},
					{
						"name": "LEISURE_SELL_PRICE_M2",
						"type": "text"
					},
					{
						"name": "LEISURE_HEAT_FLOW_M2_START_YEAR",
						"type": "text"
					},
					{
						"name": "LEISURE_HEAT_FLOW_M2_CHANGE_PER_YEAR",
						"type": "text"
					},
					{
						"name": "LEISURE_HEAT_POWER_TO_FLOW_MULTIPLIER",
						"type": "text"
					},
					{
						"name": "LEISURE_CATEGORY_WEIGHT",
						"type": "text"
					},
					{
						"name": "LEISURE_PARKING_LOTS_DEMAND_PER_M2",
						"type": "text"
					},
					{
						"name": "LEISURE_HEAT_FLOW_M2_START_VALUE",
						"type": "text"
					},
					{
						"name": "LEISURE_CONSTRUCTION_COST_M2",
						"type": "text"
					},
					{
						"name": "LEISURE_BUYOUT_COST_M2",
						"type": "text"
					},
					{
						"name": "LEISURE_UNIT_SIZE_M2",
						"type": "text"
					},
					{
						"name": "LEISURE_DEMOLISH_COST_M2",
						"type": "text"
					},
					{
						"name": "HEALTHCARE_HEAT_POWER_TO_FLOW_MULTIPLIER",
						"type": "text"
					},
					{
						"name": "HEALTHCARE_DEMOLISH_COST_M2",
						"type": "text"
					},
					{
						"name": "HEALTHCARE_HEAT_FLOW_M2_START_VALUE",
						"type": "text"
					},
					{
						"name": "HEALTHCARE_PARKING_LOTS_PER_M2",
						"type": "text"
					},
					{
						"name": "HEALTHCARE_CATEGORY_WEIGHT",
						"type": "text"
					},
					{
						"name": "HEALTHCARE_UNIT_SIZE_M2",
						"type": "text"
					},
					{
						"name": "HEALTHCARE_HEAT_FLOW_M2_CHANGE_PER_YEAR",
						"type": "text"
					},
					{
						"name": "HEALTHCARE_PARKING_LOTS_DEMAND_PER_M2",
						"type": "text"
					},
					{
						"name": "HEALTHCARE_SELL_PRICE_M2",
						"type": "text"
					},
					{
						"name": "HEALTHCARE_BUYOUT_COST_M2",
						"type": "text"
					},
					{
						"name": "HEALTHCARE_CONSTRUCTION_COST_M2",
						"type": "text"
					},
					{
						"name": "HEALTHCARE_HEAT_FLOW_M2_START_YEAR",
						"type": "text"
					},
					{
						"name": "NATURE_HEAT_FLOW_M2_START_YEAR",
						"type": "text"
					},
					{
						"name": "NATURE_HEAT_POWER_TO_FLOW_MULTIPLIER",
						"type": "text"
					},
					{
						"name": "NATURE_PARKING_LOTS_DEMAND_PER_M2",
						"type": "text"
					},
					{
						"name": "NATURE_PARKING_LOTS_PER_M2",
						"type": "text"
					},
					{
						"name": "NATURE_CONSTRUCTION_COST_M2",
						"type": "text"
					},
					{
						"name": "NATURE_DEMOLISH_COST_M2",
						"type": "text"
					},
					{
						"name": "NATURE_UNIT_SIZE_M2",
						"type": "text"
					},
					{
						"name": "NATURE_CATEGORY_WEIGHT",
						"type": "text"
					},
					{
						"name": "NATURE_SELL_PRICE_M2",
						"type": "text"
					},
					{
						"name": "NATURE_HEAT_FLOW_M2_START_VALUE",
						"type": "text"
					},
					{
						"name": "NATURE_HEAT_FLOW_M2_CHANGE_PER_YEAR",
						"type": "text"
					},
					{
						"name": "NATURE_BUYOUT_COST_M2",
						"type": "text"
					},
					{
						"name": "GARDEN_PARKING_LOTS_DEMAND_PER_M2",
						"type": "text"
					},
					{
						"name": "GARDEN_HEAT_FLOW_M2_START_YEAR",
						"type": "text"
					},
					{
						"name": "GARDEN_HEAT_FLOW_M2_CHANGE_PER_YEAR",
						"type": "text"
					},
					{
						"name": "GARDEN_UNIT_SIZE_M2",
						"type": "text"
					},
					{
						"name": "GARDEN_CATEGORY_WEIGHT",
						"type": "text"
					},
					{
						"name": "GARDEN_CONSTRUCTION_COST_M2",
						"type": "text"
					},
					{
						"name": "GARDEN_HEAT_FLOW_M2_START_VALUE",
						"type": "text"
					},
					{
						"name": "GARDEN_DEMOLISH_COST_M2",
						"type": "text"
					},
					{
						"name": "GARDEN_HEAT_POWER_TO_FLOW_MULTIPLIER",
						"type": "text"
					},
					{
						"name": "GARDEN_PARKING_LOTS_PER_M2",
						"type": "text"
					},
					{
						"name": "GARDEN_SELL_PRICE_M2",
						"type": "text"
					},
					{
						"name": "GARDEN_BUYOUT_COST_M2",
						"type": "text"
					},
					{
						"name": "OBJECTID",
						"type": "text"
					},
					{
						"name": "SHAPE_LENGTH",
						"type": "text"
					},
					{
						"name": "COLOR",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "StagingSchema",
					"table": "Building"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Staging_Category')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Building_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Construction_cost_m2",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Demolish_cost_m2",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Buyout_cost_m2",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Sell_price_m2",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Parking_lot_demand_per_m2",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Parking_lots_per_m2",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Category_ID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "StagingSchema",
					"table": "Category"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/buildings_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "buildings.json",
						"folderPath": "input",
						"container": "aim-demo-omgeving"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"DISTURBANCE_DISTANCE_M": {
							"type": "integer"
						},
						"TRAFFIC_FLOW": {
							"type": "integer"
						},
						"GREEN_M2": {
							"type": "integer"
						},
						"BOWEN_RATIO": {
							"type": "integer"
						},
						"SLANTING_ROOF_HEIGHT": {
							"type": "integer"
						},
						"OWNER": {
							"type": "string"
						},
						"ZONING_PERMIT_REQUIRED": {
							"type": "integer"
						},
						"BRIDGE_CONSTRUCTION_COST_M2": {
							"type": "integer"
						},
						"BRIDGE_PARKING_LOTS_DEMAND_PER_M2": {
							"type": "integer"
						},
						"GROUND_COLOR": {
							"type": "integer"
						},
						"ID": {
							"type": "integer"
						},
						"ROOF_COLOR": {
							"type": "integer"
						},
						"SEWERED": {
							"type": "integer"
						},
						"DRAINAGE": {
							"type": "integer"
						},
						"TRAFFIC_LANES": {
							"type": "integer"
						},
						"LIVABILITY_EFFECT": {
							"type": "integer"
						},
						"WATER_MANNING": {
							"type": "number"
						},
						"WATER_STORAGE_M2": {
							"type": "integer"
						},
						"MONUMENTAL": {
							"type": "integer"
						},
						"BRIDGE_SELL_PRICE_M2": {
							"type": "integer"
						},
						"DEMOLISH_TIME_IN_MONTHS": {
							"type": "integer"
						},
						"FUNCTION": {
							"type": "string"
						},
						"NAME": {
							"type": "string"
						},
						"BRIDGE_HEAT_POWER_TO_FLOW_MULTIPLIER": {
							"type": "integer"
						},
						"GROUND_INFILTRATION_MD": {
							"type": "integer"
						},
						"BRIDGE_UNIT_SIZE_M2": {
							"type": "integer"
						},
						"HEIGHT_OFFSET_M": {
							"type": "integer"
						},
						"CRITICAL_INFRASTRUCTURE": {
							"type": "integer"
						},
						"BOUWJAAR": {
							"type": "integer"
						},
						"ROOT_DEPTH_M": {
							"type": "integer"
						},
						"TRAFFIC_NOISE_SIGMA": {
							"type": "integer"
						},
						"TRAFFIC_SPEED": {
							"type": "integer"
						},
						"HEAT_EFFECT": {
							"type": "integer"
						},
						"MAX_FLOORS": {
							"type": "integer"
						},
						"BRIDGE_DEMOLISH_COST_M2": {
							"type": "integer"
						},
						"BRIDGE_HEAT_FLOW_M2_START_VALUE": {
							"type": "integer"
						},
						"BRIDGE_BUYOUT_COST_M2": {
							"type": "integer"
						},
						"BRIDGE_HEAT_FLOW_M2_CHANGE_PER_YEAR": {
							"type": "integer"
						},
						"WATER_EVAPORATION_FACTOR": {
							"type": "number"
						},
						"BRIDGE_CATEGORY_WEIGHT": {
							"type": "integer"
						},
						"DISTANCE_ZONE_M": {
							"type": "integer"
						},
						"TRAFFIC_NOISE_TAU": {
							"type": "integer"
						},
						"FOLIAGE_CROWN_FACTOR": {
							"type": "integer"
						},
						"BRIDGE_HEAT_FLOW_M2_START_YEAR": {
							"type": "integer"
						},
						"DEFAULT_FLOORS": {
							"type": "integer"
						},
						"EXTRA_COLOR": {
							"type": "integer"
						},
						"TOP_COLOR": {
							"type": "integer"
						},
						"PIPES_PERMITTED": {
							"type": "integer"
						},
						"FLOOR_HEIGHT_M": {
							"type": "integer"
						},
						"TERRAIN_MIX": {
							"type": "number"
						},
						"FLOATING": {
							"type": "integer"
						},
						"BRIDGE_PARKING_LOTS_PER_M2": {
							"type": "integer"
						},
						"MIN_FLOORS": {
							"type": "integer"
						},
						"SAFETY_DISTANCE_M": {
							"type": "integer"
						},
						"CONSTRUCTION_TIME_IN_MONTHS": {
							"type": "integer"
						},
						"ROAD_HEAT_FLOW_M2_START_YEAR": {
							"type": "integer"
						},
						"ROAD_HEAT_POWER_TO_FLOW_MULTIPLIER": {
							"type": "integer"
						},
						"ROAD_UNIT_SIZE_M2": {
							"type": "integer"
						},
						"ROAD_HEAT_FLOW_M2_CHANGE_PER_YEAR": {
							"type": "integer"
						},
						"ROAD_CONSTRUCTION_COST_M2": {
							"type": "integer"
						},
						"ROAD_PARKING_LOTS_DEMAND_PER_M2": {
							"type": "integer"
						},
						"ROAD_CATEGORY_WEIGHT": {
							"type": "integer"
						},
						"ROAD_HEAT_FLOW_M2_START_VALUE": {
							"type": "integer"
						},
						"ROAD_BUYOUT_COST_M2": {
							"type": "integer"
						},
						"ROAD_PARKING_LOTS_PER_M2": {
							"type": "integer"
						},
						"ROAD_SELL_PRICE_M2": {
							"type": "integer"
						},
						"ROAD_DEMOLISH_COST_M2": {
							"type": "integer"
						},
						"PAVED_AREA_CONSTRUCTION_COST_M2": {
							"type": "null"
						},
						"PAVED_AREA_SELL_PRICE_M2": {
							"type": "null"
						},
						"PAVED_AREA_PARKING_LOTS_DEMAND_PER_M2": {
							"type": "null"
						},
						"PAVED_AREA_UNIT_SIZE_M2": {
							"type": "null"
						},
						"PAVED_AREA_PARKING_LOTS_PER_M2": {
							"type": "null"
						},
						"PAVED_AREA_HEAT_FLOW_M2_START_VALUE": {
							"type": "null"
						},
						"PAVED_AREA_DEMOLISH_COST_M2": {
							"type": "null"
						},
						"PAVED_AREA_BUYOUT_COST_M2": {
							"type": "null"
						},
						"PAVED_AREA_HEAT_POWER_TO_FLOW_MULTIPLIER": {
							"type": "null"
						},
						"PAVED_AREA_HEAT_FLOW_M2_START_YEAR": {
							"type": "null"
						},
						"PAVED_AREA_HEAT_FLOW_M2_CHANGE_PER_YEAR": {
							"type": "null"
						},
						"PAVED_AREA_CATEGORY_WEIGHT": {
							"type": "null"
						},
						"SOCIAL_UNIT_SIZE_M2": {
							"type": "null"
						},
						"SOCIAL_PARKING_LOTS_PER_M2": {
							"type": "null"
						},
						"SOCIAL_CONSTRUCTION_COST_M2": {
							"type": "null"
						},
						"SOCIAL_SELL_PRICE_M2": {
							"type": "null"
						},
						"SOCIAL_CATEGORY_WEIGHT": {
							"type": "null"
						},
						"CONSTRUCTION_FINISH_DATE": {
							"type": "null"
						},
						"SOCIAL_HEAT_FLOW_M2_CHANGE_PER_YEAR": {
							"type": "null"
						},
						"SOCIAL_HEAT_FLOW_M2_START_VALUE": {
							"type": "null"
						},
						"SOCIAL_BUYOUT_COST_M2": {
							"type": "null"
						},
						"SOCIAL_PARKING_LOTS_DEMAND_PER_M2": {
							"type": "null"
						},
						"SOCIAL_HEAT_POWER_TO_FLOW_MULTIPLIER": {
							"type": "null"
						},
						"SOCIAL_HEAT_FLOW_M2_START_YEAR": {
							"type": "null"
						},
						"SOCIAL_DEMOLISH_COST_M2": {
							"type": "null"
						},
						"SHOPPING_BUYOUT_COST_M2": {
							"type": "null"
						},
						"SHOPPING_DEMOLISH_COST_M2": {
							"type": "null"
						},
						"SHOPPING_CATEGORY_WEIGHT": {
							"type": "null"
						},
						"SHOPPING_HEAT_FLOW_M2_START_VALUE": {
							"type": "null"
						},
						"SHOPPING_SELL_PRICE_M2": {
							"type": "null"
						},
						"SHOPPING_CONSTRUCTION_COST_M2": {
							"type": "null"
						},
						"SHOPPING_HEAT_POWER_TO_FLOW_MULTIPLIER": {
							"type": "null"
						},
						"SHOPPING_HEAT_FLOW_M2_START_YEAR": {
							"type": "null"
						},
						"SHOPPING_HEAT_FLOW_M2_CHANGE_PER_YEAR": {
							"type": "null"
						},
						"SHOPPING_UNIT_SIZE_M2": {
							"type": "null"
						},
						"SHOPPING_PARKING_LOTS_PER_M2": {
							"type": "null"
						},
						"SHOPPING_PARKING_LOTS_DEMAND_PER_M2": {
							"type": "null"
						},
						"OTHER_CONSTRUCTION_COST_M2": {
							"type": "null"
						},
						"OTHER_SELL_PRICE_M2": {
							"type": "null"
						},
						"OTHER_HEAT_FLOW_M2_CHANGE_PER_YEAR": {
							"type": "null"
						},
						"OTHER_PARKING_LOTS_PER_M2": {
							"type": "null"
						},
						"OTHER_HEAT_POWER_TO_FLOW_MULTIPLIER": {
							"type": "null"
						},
						"OTHER_BUYOUT_COST_M2": {
							"type": "null"
						},
						"OTHER_UNIT_SIZE_M2": {
							"type": "null"
						},
						"OTHER_HEAT_FLOW_M2_START_YEAR": {
							"type": "null"
						},
						"OTHER_DEMOLISH_COST_M2": {
							"type": "null"
						},
						"OTHER_HEAT_FLOW_M2_START_VALUE": {
							"type": "null"
						},
						"OTHER_CATEGORY_WEIGHT": {
							"type": "null"
						},
						"OTHER_PARKING_LOTS_DEMAND_PER_M2": {
							"type": "null"
						},
						"NORMAL_CONSTRUCTION_COST_M2": {
							"type": "null"
						},
						"NORMAL_PARKING_LOTS_PER_M2": {
							"type": "null"
						},
						"NORMAL_HEAT_FLOW_M2_START_VALUE": {
							"type": "null"
						},
						"NORMAL_BUYOUT_COST_M2": {
							"type": "null"
						},
						"NORMAL_DEMOLISH_COST_M2": {
							"type": "null"
						},
						"NORMAL_HEAT_FLOW_M2_CHANGE_PER_YEAR": {
							"type": "null"
						},
						"NORMAL_PARKING_LOTS_DEMAND_PER_M2": {
							"type": "null"
						},
						"NORMAL_HEAT_POWER_TO_FLOW_MULTIPLIER": {
							"type": "null"
						},
						"NORMAL_CATEGORY_WEIGHT": {
							"type": "null"
						},
						"NORMAL_HEAT_FLOW_M2_START_YEAR": {
							"type": "null"
						},
						"NORMAL_UNIT_SIZE_M2": {
							"type": "null"
						},
						"NORMAL_SELL_PRICE_M2": {
							"type": "null"
						},
						"OFFICES_CATEGORY_WEIGHT": {
							"type": "null"
						},
						"OFFICES_HEAT_FLOW_M2_START_YEAR": {
							"type": "null"
						},
						"OFFICES_HEAT_FLOW_M2_CHANGE_PER_YEAR": {
							"type": "null"
						},
						"OFFICES_HEAT_FLOW_M2_START_VALUE": {
							"type": "null"
						},
						"OFFICES_DEMOLISH_COST_M2": {
							"type": "null"
						},
						"OFFICES_PARKING_LOTS_PER_M2": {
							"type": "null"
						},
						"OFFICES_SELL_PRICE_M2": {
							"type": "null"
						},
						"OFFICES_UNIT_SIZE_M2": {
							"type": "null"
						},
						"OFFICES_PARKING_LOTS_DEMAND_PER_M2": {
							"type": "null"
						},
						"OFFICES_CONSTRUCTION_COST_M2": {
							"type": "null"
						},
						"OFFICES_HEAT_POWER_TO_FLOW_MULTIPLIER": {
							"type": "null"
						},
						"OFFICES_BUYOUT_COST_M2": {
							"type": "null"
						},
						"LUXE_PARKING_LOTS_PER_M2": {
							"type": "null"
						},
						"LUXE_HEAT_FLOW_M2_CHANGE_PER_YEAR": {
							"type": "null"
						},
						"LUXE_HEAT_POWER_TO_FLOW_MULTIPLIER": {
							"type": "null"
						},
						"LUXE_DEMOLISH_COST_M2": {
							"type": "null"
						},
						"LUXE_UNIT_SIZE_M2": {
							"type": "null"
						},
						"LUXE_CONSTRUCTION_COST_M2": {
							"type": "null"
						},
						"LUXE_CATEGORY_WEIGHT": {
							"type": "null"
						},
						"LUXE_SELL_PRICE_M2": {
							"type": "null"
						},
						"LUXE_HEAT_FLOW_M2_START_YEAR": {
							"type": "null"
						},
						"LUXE_HEAT_FLOW_M2_START_VALUE": {
							"type": "null"
						},
						"LUXE_BUYOUT_COST_M2": {
							"type": "null"
						},
						"LUXE_PARKING_LOTS_DEMAND_PER_M2": {
							"type": "null"
						},
						"INDUSTRY_DEMOLISH_COST_M2": {
							"type": "null"
						},
						"INDUSTRY_BUYOUT_COST_M2": {
							"type": "null"
						},
						"INDUSTRY_CATEGORY_WEIGHT": {
							"type": "null"
						},
						"INDUSTRY_SELL_PRICE_M2": {
							"type": "null"
						},
						"INDUSTRY_HEAT_FLOW_M2_CHANGE_PER_YEAR": {
							"type": "null"
						},
						"INDUSTRY_PARKING_LOTS_PER_M2": {
							"type": "null"
						},
						"INDUSTRY_HEAT_FLOW_M2_START_YEAR": {
							"type": "null"
						},
						"INDUSTRY_PARKING_LOTS_DEMAND_PER_M2": {
							"type": "null"
						},
						"INDUSTRY_HEAT_FLOW_M2_START_VALUE": {
							"type": "null"
						},
						"INDUSTRY_CONSTRUCTION_COST_M2": {
							"type": "null"
						},
						"INDUSTRY_UNIT_SIZE_M2": {
							"type": "null"
						},
						"INDUSTRY_HEAT_POWER_TO_FLOW_MULTIPLIER": {
							"type": "null"
						},
						"EDUCATION_HEAT_POWER_TO_FLOW_MULTIPLIER": {
							"type": "null"
						},
						"EDUCATION_SELL_PRICE_M2": {
							"type": "null"
						},
						"EDUCATION_BUYOUT_COST_M2": {
							"type": "null"
						},
						"EDUCATION_HEAT_FLOW_M2_CHANGE_PER_YEAR": {
							"type": "null"
						},
						"EDUCATION_UNIT_SIZE_M2": {
							"type": "null"
						},
						"EDUCATION_CONSTRUCTION_COST_M2": {
							"type": "null"
						},
						"EDUCATION_PARKING_LOTS_PER_M2": {
							"type": "null"
						},
						"EDUCATION_CATEGORY_WEIGHT": {
							"type": "null"
						},
						"EDUCATION_HEAT_FLOW_M2_START_YEAR": {
							"type": "null"
						},
						"EDUCATION_DEMOLISH_COST_M2": {
							"type": "null"
						},
						"EDUCATION_PARKING_LOTS_DEMAND_PER_M2": {
							"type": "null"
						},
						"EDUCATION_HEAT_FLOW_M2_START_VALUE": {
							"type": "null"
						},
						"LEISURE_PARKING_LOTS_PER_M2": {
							"type": "null"
						},
						"LEISURE_SELL_PRICE_M2": {
							"type": "null"
						},
						"LEISURE_HEAT_FLOW_M2_START_YEAR": {
							"type": "null"
						},
						"LEISURE_HEAT_FLOW_M2_CHANGE_PER_YEAR": {
							"type": "null"
						},
						"LEISURE_HEAT_POWER_TO_FLOW_MULTIPLIER": {
							"type": "null"
						},
						"LEISURE_CATEGORY_WEIGHT": {
							"type": "null"
						},
						"LEISURE_PARKING_LOTS_DEMAND_PER_M2": {
							"type": "null"
						},
						"LEISURE_HEAT_FLOW_M2_START_VALUE": {
							"type": "null"
						},
						"LEISURE_CONSTRUCTION_COST_M2": {
							"type": "null"
						},
						"LEISURE_BUYOUT_COST_M2": {
							"type": "null"
						},
						"LEISURE_UNIT_SIZE_M2": {
							"type": "null"
						},
						"LEISURE_DEMOLISH_COST_M2": {
							"type": "null"
						},
						"HEALTHCARE_HEAT_POWER_TO_FLOW_MULTIPLIER": {
							"type": "null"
						},
						"HEALTHCARE_DEMOLISH_COST_M2": {
							"type": "null"
						},
						"HEALTHCARE_HEAT_FLOW_M2_START_VALUE": {
							"type": "null"
						},
						"HEALTHCARE_PARKING_LOTS_PER_M2": {
							"type": "null"
						},
						"HEALTHCARE_CATEGORY_WEIGHT": {
							"type": "null"
						},
						"HEALTHCARE_UNIT_SIZE_M2": {
							"type": "null"
						},
						"HEALTHCARE_HEAT_FLOW_M2_CHANGE_PER_YEAR": {
							"type": "null"
						},
						"HEALTHCARE_PARKING_LOTS_DEMAND_PER_M2": {
							"type": "null"
						},
						"HEALTHCARE_SELL_PRICE_M2": {
							"type": "null"
						},
						"HEALTHCARE_BUYOUT_COST_M2": {
							"type": "null"
						},
						"HEALTHCARE_CONSTRUCTION_COST_M2": {
							"type": "null"
						},
						"HEALTHCARE_HEAT_FLOW_M2_START_YEAR": {
							"type": "null"
						},
						"NATURE_HEAT_FLOW_M2_START_YEAR": {
							"type": "null"
						},
						"NATURE_HEAT_POWER_TO_FLOW_MULTIPLIER": {
							"type": "null"
						},
						"NATURE_PARKING_LOTS_DEMAND_PER_M2": {
							"type": "null"
						},
						"NATURE_PARKING_LOTS_PER_M2": {
							"type": "null"
						},
						"NATURE_CONSTRUCTION_COST_M2": {
							"type": "null"
						},
						"NATURE_DEMOLISH_COST_M2": {
							"type": "null"
						},
						"NATURE_UNIT_SIZE_M2": {
							"type": "null"
						},
						"NATURE_CATEGORY_WEIGHT": {
							"type": "null"
						},
						"NATURE_SELL_PRICE_M2": {
							"type": "null"
						},
						"NATURE_HEAT_FLOW_M2_START_VALUE": {
							"type": "null"
						},
						"NATURE_HEAT_FLOW_M2_CHANGE_PER_YEAR": {
							"type": "null"
						},
						"NATURE_BUYOUT_COST_M2": {
							"type": "null"
						},
						"GARDEN_PARKING_LOTS_DEMAND_PER_M2": {
							"type": "null"
						},
						"GARDEN_HEAT_FLOW_M2_START_YEAR": {
							"type": "null"
						},
						"GARDEN_HEAT_FLOW_M2_CHANGE_PER_YEAR": {
							"type": "null"
						},
						"GARDEN_UNIT_SIZE_M2": {
							"type": "null"
						},
						"GARDEN_CATEGORY_WEIGHT": {
							"type": "null"
						},
						"GARDEN_CONSTRUCTION_COST_M2": {
							"type": "null"
						},
						"GARDEN_HEAT_FLOW_M2_START_VALUE": {
							"type": "null"
						},
						"GARDEN_DEMOLISH_COST_M2": {
							"type": "null"
						},
						"GARDEN_HEAT_POWER_TO_FLOW_MULTIPLIER": {
							"type": "null"
						},
						"GARDEN_PARKING_LOTS_PER_M2": {
							"type": "null"
						},
						"GARDEN_SELL_PRICE_M2": {
							"type": "null"
						},
						"GARDEN_BUYOUT_COST_M2": {
							"type": "null"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_LINK_Building_Details')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "DV"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Staging_Building",
								"type": "DatasetReference"
							},
							"name": "SourceStagingBuilding"
						},
						{
							"dataset": {
								"referenceName": "HUB_Building",
								"type": "DatasetReference"
							},
							"name": "SourceHubBuilding"
						},
						{
							"dataset": {
								"referenceName": "HUB_Category",
								"type": "DatasetReference"
							},
							"name": "SourceHubCategory"
						},
						{
							"dataset": {
								"referenceName": "Staging_Category",
								"type": "DatasetReference"
							},
							"name": "SourceStagingCategory"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "LINK_Building_Details",
								"type": "DatasetReference"
							},
							"name": "SinkLinkBuildingDetails"
						}
					],
					"transformations": [
						{
							"name": "LookupBuildingSqnr"
						},
						{
							"name": "LookupCategoryId"
						},
						{
							"name": "LookupBuildingId"
						}
					],
					"script": "source(output(\n\t\tDISTURBANCE_DISTANCE_M as integer,\n\t\tTRAFFIC_FLOW as integer,\n\t\tGREEN_M2 as integer,\n\t\tBOWEN_RATIO as integer,\n\t\tSLANTING_ROOF_HEIGHT as integer,\n\t\tOWNER as string,\n\t\tZONING_PERMIT_REQUIRED as integer,\n\t\tBRIDGE_CONSTRUCTION_COST_M2 as integer,\n\t\tBRIDGE_PARKING_LOTS_DEMAND_PER_M2 as integer,\n\t\tGROUND_COLOR as integer,\n\t\tID as integer,\n\t\tROOF_COLOR as integer,\n\t\tSEWERED as integer,\n\t\tDRAINAGE as integer,\n\t\tTRAFFIC_LANES as integer,\n\t\tLIVABILITY_EFFECT as integer,\n\t\tWATER_MANNING as double,\n\t\tWATER_STORAGE_M2 as integer,\n\t\tMONUMENTAL as integer,\n\t\tBRIDGE_SELL_PRICE_M2 as integer,\n\t\tDEMOLISH_TIME_IN_MONTHS as integer,\n\t\tFUNCTION_ as string,\n\t\tNAME as string,\n\t\tBRIDGE_HEAT_POWER_TO_FLOW_MULTIPLIER as integer,\n\t\tGROUND_INFILTRATION_MD as integer,\n\t\tBRIDGE_UNIT_SIZE_M2 as integer,\n\t\tHEIGHT_OFFSET_M as integer,\n\t\tCRITICAL_INFRASTRUCTURE as integer,\n\t\tBOUWJAAR as integer,\n\t\tROOT_DEPTH_M as integer,\n\t\tTRAFFIC_NOISE_SIGMA as integer,\n\t\tTRAFFIC_SPEED as integer,\n\t\tHEAT_EFFECT as integer,\n\t\tMAX_FLOORS as integer,\n\t\tBRIDGE_DEMOLISH_COST_M2 as integer,\n\t\tBRIDGE_HEAT_FLOW_M2_START_VALUE as integer,\n\t\tBRIDGE_BUYOUT_COST_M2 as integer,\n\t\tBRIDGE_HEAT_FLOW_M2_CHANGE_PER_YEAR as integer,\n\t\tWATER_EVAPORATION_FACTOR as double,\n\t\tBRIDGE_CATEGORY_WEIGHT as integer,\n\t\tDISTANCE_ZONE_M as integer,\n\t\tTRAFFIC_NOISE_TAU as integer,\n\t\tFOLIAGE_CROWN_FACTOR as integer,\n\t\tBRIDGE_HEAT_FLOW_M2_START_YEAR as integer,\n\t\tDEFAULT_FLOORS as integer,\n\t\tEXTRA_COLOR as integer,\n\t\tTOP_COLOR as integer,\n\t\tPIPES_PERMITTED as integer,\n\t\tFLOOR_HEIGHT_M as integer,\n\t\tTERRAIN_MIX as double,\n\t\tFLOATING as integer,\n\t\tBRIDGE_PARKING_LOTS_PER_M2 as integer,\n\t\tMIN_FLOORS as integer,\n\t\tSAFETY_DISTANCE_M as integer,\n\t\tCONSTRUCTION_TIME_IN_MONTHS as integer,\n\t\tROAD_HEAT_FLOW_M2_START_YEAR as integer,\n\t\tROAD_HEAT_POWER_TO_FLOW_MULTIPLIER as integer,\n\t\tROAD_UNIT_SIZE_M2 as integer,\n\t\tROAD_HEAT_FLOW_M2_CHANGE_PER_YEAR as integer,\n\t\tROAD_CONSTRUCTION_COST_M2 as integer,\n\t\tROAD_PARKING_LOTS_DEMAND_PER_M2 as integer,\n\t\tROAD_CATEGORY_WEIGHT as integer,\n\t\tROAD_HEAT_FLOW_M2_START_VALUE as integer,\n\t\tROAD_BUYOUT_COST_M2 as integer,\n\t\tROAD_PARKING_LOTS_PER_M2 as integer,\n\t\tROAD_SELL_PRICE_M2 as integer,\n\t\tROAD_DEMOLISH_COST_M2 as integer,\n\t\tPAVED_AREA_CONSTRUCTION_COST_M2 as string,\n\t\tPAVED_AREA_SELL_PRICE_M2 as string,\n\t\tPAVED_AREA_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tPAVED_AREA_UNIT_SIZE_M2 as string,\n\t\tPAVED_AREA_PARKING_LOTS_PER_M2 as string,\n\t\tPAVED_AREA_HEAT_FLOW_M2_START_VALUE as string,\n\t\tPAVED_AREA_DEMOLISH_COST_M2 as string,\n\t\tPAVED_AREA_BUYOUT_COST_M2 as string,\n\t\tPAVED_AREA_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tPAVED_AREA_HEAT_FLOW_M2_START_YEAR as string,\n\t\tPAVED_AREA_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tPAVED_AREA_CATEGORY_WEIGHT as string,\n\t\tSOCIAL_UNIT_SIZE_M2 as string,\n\t\tSOCIAL_PARKING_LOTS_PER_M2 as string,\n\t\tSOCIAL_CONSTRUCTION_COST_M2 as string,\n\t\tSOCIAL_SELL_PRICE_M2 as string,\n\t\tSOCIAL_CATEGORY_WEIGHT as string,\n\t\tCONSTRUCTION_FINISH_DATE as string,\n\t\tSOCIAL_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tSOCIAL_HEAT_FLOW_M2_START_VALUE as string,\n\t\tSOCIAL_BUYOUT_COST_M2 as string,\n\t\tSOCIAL_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tSOCIAL_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tSOCIAL_HEAT_FLOW_M2_START_YEAR as string,\n\t\tSOCIAL_DEMOLISH_COST_M2 as string,\n\t\tSHOPPING_BUYOUT_COST_M2 as string,\n\t\tSHOPPING_DEMOLISH_COST_M2 as string,\n\t\tSHOPPING_CATEGORY_WEIGHT as string,\n\t\tSHOPPING_HEAT_FLOW_M2_START_VALUE as string,\n\t\tSHOPPING_SELL_PRICE_M2 as string,\n\t\tSHOPPING_CONSTRUCTION_COST_M2 as string,\n\t\tSHOPPING_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tSHOPPING_HEAT_FLOW_M2_START_YEAR as string,\n\t\tSHOPPING_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tSHOPPING_UNIT_SIZE_M2 as string,\n\t\tSHOPPING_PARKING_LOTS_PER_M2 as string,\n\t\tSHOPPING_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tOTHER_CONSTRUCTION_COST_M2 as string,\n\t\tOTHER_SELL_PRICE_M2 as string,\n\t\tOTHER_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tOTHER_PARKING_LOTS_PER_M2 as string,\n\t\tOTHER_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tOTHER_BUYOUT_COST_M2 as string,\n\t\tOTHER_UNIT_SIZE_M2 as string,\n\t\tOTHER_HEAT_FLOW_M2_START_YEAR as string,\n\t\tOTHER_DEMOLISH_COST_M2 as string,\n\t\tOTHER_HEAT_FLOW_M2_START_VALUE as string,\n\t\tOTHER_CATEGORY_WEIGHT as string,\n\t\tOTHER_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tNORMAL_CONSTRUCTION_COST_M2 as string,\n\t\tNORMAL_PARKING_LOTS_PER_M2 as string,\n\t\tNORMAL_HEAT_FLOW_M2_START_VALUE as string,\n\t\tNORMAL_BUYOUT_COST_M2 as string,\n\t\tNORMAL_DEMOLISH_COST_M2 as string,\n\t\tNORMAL_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tNORMAL_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tNORMAL_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tNORMAL_CATEGORY_WEIGHT as string,\n\t\tNORMAL_HEAT_FLOW_M2_START_YEAR as string,\n\t\tNORMAL_UNIT_SIZE_M2 as string,\n\t\tNORMAL_SELL_PRICE_M2 as string,\n\t\tOFFICES_CATEGORY_WEIGHT as string,\n\t\tOFFICES_HEAT_FLOW_M2_START_YEAR as string,\n\t\tOFFICES_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tOFFICES_HEAT_FLOW_M2_START_VALUE as string,\n\t\tOFFICES_DEMOLISH_COST_M2 as string,\n\t\tOFFICES_PARKING_LOTS_PER_M2 as string,\n\t\tOFFICES_SELL_PRICE_M2 as string,\n\t\tOFFICES_UNIT_SIZE_M2 as string,\n\t\tOFFICES_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tOFFICES_CONSTRUCTION_COST_M2 as string,\n\t\tOFFICES_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tOFFICES_BUYOUT_COST_M2 as string,\n\t\tLUXE_PARKING_LOTS_PER_M2 as string,\n\t\tLUXE_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tLUXE_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tLUXE_DEMOLISH_COST_M2 as string,\n\t\tLUXE_UNIT_SIZE_M2 as string,\n\t\tLUXE_CONSTRUCTION_COST_M2 as string,\n\t\tLUXE_CATEGORY_WEIGHT as string,\n\t\tLUXE_SELL_PRICE_M2 as string,\n\t\tLUXE_HEAT_FLOW_M2_START_YEAR as string,\n\t\tLUXE_HEAT_FLOW_M2_START_VALUE as string,\n\t\tLUXE_BUYOUT_COST_M2 as string,\n\t\tLUXE_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tINDUSTRY_DEMOLISH_COST_M2 as string,\n\t\tINDUSTRY_BUYOUT_COST_M2 as string,\n\t\tINDUSTRY_CATEGORY_WEIGHT as string,\n\t\tINDUSTRY_SELL_PRICE_M2 as string,\n\t\tINDUSTRY_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tINDUSTRY_PARKING_LOTS_PER_M2 as string,\n\t\tINDUSTRY_HEAT_FLOW_M2_START_YEAR as string,\n\t\tINDUSTRY_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tINDUSTRY_HEAT_FLOW_M2_START_VALUE as string,\n\t\tINDUSTRY_CONSTRUCTION_COST_M2 as string,\n\t\tINDUSTRY_UNIT_SIZE_M2 as string,\n\t\tINDUSTRY_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tEDUCATION_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tEDUCATION_SELL_PRICE_M2 as string,\n\t\tEDUCATION_BUYOUT_COST_M2 as string,\n\t\tEDUCATION_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tEDUCATION_UNIT_SIZE_M2 as string,\n\t\tEDUCATION_CONSTRUCTION_COST_M2 as string,\n\t\tEDUCATION_PARKING_LOTS_PER_M2 as string,\n\t\tEDUCATION_CATEGORY_WEIGHT as string,\n\t\tEDUCATION_HEAT_FLOW_M2_START_YEAR as string,\n\t\tEDUCATION_DEMOLISH_COST_M2 as string,\n\t\tEDUCATION_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tEDUCATION_HEAT_FLOW_M2_START_VALUE as string,\n\t\tLEISURE_PARKING_LOTS_PER_M2 as string,\n\t\tLEISURE_SELL_PRICE_M2 as string,\n\t\tLEISURE_HEAT_FLOW_M2_START_YEAR as string,\n\t\tLEISURE_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tLEISURE_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tLEISURE_CATEGORY_WEIGHT as string,\n\t\tLEISURE_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tLEISURE_HEAT_FLOW_M2_START_VALUE as string,\n\t\tLEISURE_CONSTRUCTION_COST_M2 as string,\n\t\tLEISURE_BUYOUT_COST_M2 as string,\n\t\tLEISURE_UNIT_SIZE_M2 as string,\n\t\tLEISURE_DEMOLISH_COST_M2 as string,\n\t\tHEALTHCARE_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tHEALTHCARE_DEMOLISH_COST_M2 as string,\n\t\tHEALTHCARE_HEAT_FLOW_M2_START_VALUE as string,\n\t\tHEALTHCARE_PARKING_LOTS_PER_M2 as string,\n\t\tHEALTHCARE_CATEGORY_WEIGHT as string,\n\t\tHEALTHCARE_UNIT_SIZE_M2 as string,\n\t\tHEALTHCARE_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tHEALTHCARE_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tHEALTHCARE_SELL_PRICE_M2 as string,\n\t\tHEALTHCARE_BUYOUT_COST_M2 as string,\n\t\tHEALTHCARE_CONSTRUCTION_COST_M2 as string,\n\t\tHEALTHCARE_HEAT_FLOW_M2_START_YEAR as string,\n\t\tNATURE_HEAT_FLOW_M2_START_YEAR as string,\n\t\tNATURE_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tNATURE_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tNATURE_PARKING_LOTS_PER_M2 as string,\n\t\tNATURE_CONSTRUCTION_COST_M2 as string,\n\t\tNATURE_DEMOLISH_COST_M2 as string,\n\t\tNATURE_UNIT_SIZE_M2 as string,\n\t\tNATURE_CATEGORY_WEIGHT as string,\n\t\tNATURE_SELL_PRICE_M2 as string,\n\t\tNATURE_HEAT_FLOW_M2_START_VALUE as string,\n\t\tNATURE_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tNATURE_BUYOUT_COST_M2 as string,\n\t\tGARDEN_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tGARDEN_HEAT_FLOW_M2_START_YEAR as string,\n\t\tGARDEN_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tGARDEN_UNIT_SIZE_M2 as string,\n\t\tGARDEN_CATEGORY_WEIGHT as string,\n\t\tGARDEN_CONSTRUCTION_COST_M2 as string,\n\t\tGARDEN_HEAT_FLOW_M2_START_VALUE as string,\n\t\tGARDEN_DEMOLISH_COST_M2 as string,\n\t\tGARDEN_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tGARDEN_PARKING_LOTS_PER_M2 as string,\n\t\tGARDEN_SELL_PRICE_M2 as string,\n\t\tGARDEN_BUYOUT_COST_M2 as string,\n\t\tOBJECTID as string,\n\t\tSHAPE_LENGTH as string,\n\t\tCOLOR as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> SourceStagingBuilding\nsource(output(\n\t\tBuilding_sqnr as integer,\n\t\tBuilding_ID as integer,\n\t\tLoad_date_timestamp as timestamp,\n\t\tRecord_source as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> SourceHubBuilding\nsource(output(\n\t\tCategory_sqnr as integer,\n\t\tCategory_ID as integer,\n\t\tLoad_date_timestamp as timestamp,\n\t\tRecord_source as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> SourceHubCategory\nsource(output(\n\t\tBuilding_ID as integer,\n\t\tConstruction_cost_m2 as double,\n\t\tDemolish_cost_m2 as double,\n\t\tBuyout_cost_m2 as double,\n\t\tSell_price_m2 as double,\n\t\tParking_lot_demand_per_m2 as double,\n\t\tParking_lots_per_m2 as double,\n\t\tCategory_ID as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> SourceStagingCategory\nSourceStagingBuilding, SourceHubBuilding lookup(ID == Building_ID,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupBuildingSqnr\nSourceHubCategory, SourceStagingCategory lookup(SourceHubCategory@Category_ID == SourceStagingCategory@Category_ID,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupCategoryId\nLookupBuildingSqnr, LookupCategoryId lookup(ID == SourceStagingCategory@Building_ID,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupBuildingId\nLookupBuildingId sink(input(\n\t\tBuilding_sqnr as integer,\n\t\tCategory_sqnr as integer,\n\t\tLoad_date_timestamp as timestamp,\n\t\tRecord_source as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SinkLinkBuildingDetails"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Staging_Building')]",
				"[concat(variables('factoryId'), '/datasets/HUB_Building')]",
				"[concat(variables('factoryId'), '/datasets/HUB_Category')]",
				"[concat(variables('factoryId'), '/datasets/Staging_Category')]",
				"[concat(variables('factoryId'), '/datasets/LINK_Building_Details')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_Sats')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "DV"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Staging_Building",
								"type": "DatasetReference"
							},
							"name": "SourceStagingBuilding"
						},
						{
							"dataset": {
								"referenceName": "HUB_Building",
								"type": "DatasetReference"
							},
							"name": "SourceHubBuilding"
						},
						{
							"dataset": {
								"referenceName": "Category",
								"type": "DatasetReference"
							},
							"name": "SourceCategory"
						},
						{
							"dataset": {
								"referenceName": "HUB_Category",
								"type": "DatasetReference"
							},
							"name": "SourceHubCategory"
						},
						{
							"dataset": {
								"referenceName": "Staging_Category",
								"type": "DatasetReference"
							},
							"name": "SourceStagingCategory"
						},
						{
							"dataset": {
								"referenceName": "LINK_Building_Details",
								"type": "DatasetReference"
							},
							"name": "SourceLinkBuildingDetails"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SAT_Building",
								"type": "DatasetReference"
							},
							"name": "SinkSatBuilding"
						},
						{
							"dataset": {
								"referenceName": "SAT_Category",
								"type": "DatasetReference"
							},
							"name": "SinkSatCategory"
						},
						{
							"dataset": {
								"referenceName": "SAT_Building_Details",
								"type": "DatasetReference"
							},
							"name": "SinkSatBuildingDetails"
						}
					],
					"transformations": [
						{
							"name": "LookupBuildingSqnrBuilding"
						},
						{
							"name": "LookupCategorySqnrCategory"
						},
						{
							"name": "LookupBuildingSqnrBuildingDetails"
						},
						{
							"name": "LookupCategorySqnrBuildingDetails"
						},
						{
							"name": "LookupLinkBuildingDetails"
						}
					],
					"script": "source(output(\n\t\tDISTURBANCE_DISTANCE_M as integer,\n\t\tTRAFFIC_FLOW as integer,\n\t\tGREEN_M2 as integer,\n\t\tBOWEN_RATIO as integer,\n\t\tSLANTING_ROOF_HEIGHT as integer,\n\t\tOWNER as string,\n\t\tZONING_PERMIT_REQUIRED as integer,\n\t\tBRIDGE_CONSTRUCTION_COST_M2 as integer,\n\t\tBRIDGE_PARKING_LOTS_DEMAND_PER_M2 as integer,\n\t\tGROUND_COLOR as integer,\n\t\tID as integer,\n\t\tROOF_COLOR as integer,\n\t\tSEWERED as integer,\n\t\tDRAINAGE as integer,\n\t\tTRAFFIC_LANES as integer,\n\t\tLIVABILITY_EFFECT as integer,\n\t\tWATER_MANNING as double,\n\t\tWATER_STORAGE_M2 as integer,\n\t\tMONUMENTAL as integer,\n\t\tBRIDGE_SELL_PRICE_M2 as integer,\n\t\tDEMOLISH_TIME_IN_MONTHS as integer,\n\t\tFUNCTION_ as string,\n\t\tNAME as string,\n\t\tBRIDGE_HEAT_POWER_TO_FLOW_MULTIPLIER as integer,\n\t\tGROUND_INFILTRATION_MD as integer,\n\t\tBRIDGE_UNIT_SIZE_M2 as integer,\n\t\tHEIGHT_OFFSET_M as integer,\n\t\tCRITICAL_INFRASTRUCTURE as integer,\n\t\tBOUWJAAR as integer,\n\t\tROOT_DEPTH_M as integer,\n\t\tTRAFFIC_NOISE_SIGMA as integer,\n\t\tTRAFFIC_SPEED as integer,\n\t\tHEAT_EFFECT as integer,\n\t\tMAX_FLOORS as integer,\n\t\tBRIDGE_DEMOLISH_COST_M2 as integer,\n\t\tBRIDGE_HEAT_FLOW_M2_START_VALUE as integer,\n\t\tBRIDGE_BUYOUT_COST_M2 as integer,\n\t\tBRIDGE_HEAT_FLOW_M2_CHANGE_PER_YEAR as integer,\n\t\tWATER_EVAPORATION_FACTOR as double,\n\t\tBRIDGE_CATEGORY_WEIGHT as integer,\n\t\tDISTANCE_ZONE_M as integer,\n\t\tTRAFFIC_NOISE_TAU as integer,\n\t\tFOLIAGE_CROWN_FACTOR as integer,\n\t\tBRIDGE_HEAT_FLOW_M2_START_YEAR as integer,\n\t\tDEFAULT_FLOORS as integer,\n\t\tEXTRA_COLOR as integer,\n\t\tTOP_COLOR as integer,\n\t\tPIPES_PERMITTED as integer,\n\t\tFLOOR_HEIGHT_M as integer,\n\t\tTERRAIN_MIX as double,\n\t\tFLOATING as integer,\n\t\tBRIDGE_PARKING_LOTS_PER_M2 as integer,\n\t\tMIN_FLOORS as integer,\n\t\tSAFETY_DISTANCE_M as integer,\n\t\tCONSTRUCTION_TIME_IN_MONTHS as integer,\n\t\tROAD_HEAT_FLOW_M2_START_YEAR as integer,\n\t\tROAD_HEAT_POWER_TO_FLOW_MULTIPLIER as integer,\n\t\tROAD_UNIT_SIZE_M2 as integer,\n\t\tROAD_HEAT_FLOW_M2_CHANGE_PER_YEAR as integer,\n\t\tROAD_CONSTRUCTION_COST_M2 as integer,\n\t\tROAD_PARKING_LOTS_DEMAND_PER_M2 as integer,\n\t\tROAD_CATEGORY_WEIGHT as integer,\n\t\tROAD_HEAT_FLOW_M2_START_VALUE as integer,\n\t\tROAD_BUYOUT_COST_M2 as integer,\n\t\tROAD_PARKING_LOTS_PER_M2 as integer,\n\t\tROAD_SELL_PRICE_M2 as integer,\n\t\tROAD_DEMOLISH_COST_M2 as integer,\n\t\tPAVED_AREA_CONSTRUCTION_COST_M2 as string,\n\t\tPAVED_AREA_SELL_PRICE_M2 as string,\n\t\tPAVED_AREA_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tPAVED_AREA_UNIT_SIZE_M2 as string,\n\t\tPAVED_AREA_PARKING_LOTS_PER_M2 as string,\n\t\tPAVED_AREA_HEAT_FLOW_M2_START_VALUE as string,\n\t\tPAVED_AREA_DEMOLISH_COST_M2 as string,\n\t\tPAVED_AREA_BUYOUT_COST_M2 as string,\n\t\tPAVED_AREA_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tPAVED_AREA_HEAT_FLOW_M2_START_YEAR as string,\n\t\tPAVED_AREA_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tPAVED_AREA_CATEGORY_WEIGHT as string,\n\t\tSOCIAL_UNIT_SIZE_M2 as string,\n\t\tSOCIAL_PARKING_LOTS_PER_M2 as string,\n\t\tSOCIAL_CONSTRUCTION_COST_M2 as string,\n\t\tSOCIAL_SELL_PRICE_M2 as string,\n\t\tSOCIAL_CATEGORY_WEIGHT as string,\n\t\tCONSTRUCTION_FINISH_DATE as string,\n\t\tSOCIAL_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tSOCIAL_HEAT_FLOW_M2_START_VALUE as string,\n\t\tSOCIAL_BUYOUT_COST_M2 as string,\n\t\tSOCIAL_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tSOCIAL_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tSOCIAL_HEAT_FLOW_M2_START_YEAR as string,\n\t\tSOCIAL_DEMOLISH_COST_M2 as string,\n\t\tSHOPPING_BUYOUT_COST_M2 as string,\n\t\tSHOPPING_DEMOLISH_COST_M2 as string,\n\t\tSHOPPING_CATEGORY_WEIGHT as string,\n\t\tSHOPPING_HEAT_FLOW_M2_START_VALUE as string,\n\t\tSHOPPING_SELL_PRICE_M2 as string,\n\t\tSHOPPING_CONSTRUCTION_COST_M2 as string,\n\t\tSHOPPING_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tSHOPPING_HEAT_FLOW_M2_START_YEAR as string,\n\t\tSHOPPING_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tSHOPPING_UNIT_SIZE_M2 as string,\n\t\tSHOPPING_PARKING_LOTS_PER_M2 as string,\n\t\tSHOPPING_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tOTHER_CONSTRUCTION_COST_M2 as string,\n\t\tOTHER_SELL_PRICE_M2 as string,\n\t\tOTHER_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tOTHER_PARKING_LOTS_PER_M2 as string,\n\t\tOTHER_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tOTHER_BUYOUT_COST_M2 as string,\n\t\tOTHER_UNIT_SIZE_M2 as string,\n\t\tOTHER_HEAT_FLOW_M2_START_YEAR as string,\n\t\tOTHER_DEMOLISH_COST_M2 as string,\n\t\tOTHER_HEAT_FLOW_M2_START_VALUE as string,\n\t\tOTHER_CATEGORY_WEIGHT as string,\n\t\tOTHER_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tNORMAL_CONSTRUCTION_COST_M2 as string,\n\t\tNORMAL_PARKING_LOTS_PER_M2 as string,\n\t\tNORMAL_HEAT_FLOW_M2_START_VALUE as string,\n\t\tNORMAL_BUYOUT_COST_M2 as string,\n\t\tNORMAL_DEMOLISH_COST_M2 as string,\n\t\tNORMAL_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tNORMAL_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tNORMAL_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tNORMAL_CATEGORY_WEIGHT as string,\n\t\tNORMAL_HEAT_FLOW_M2_START_YEAR as string,\n\t\tNORMAL_UNIT_SIZE_M2 as string,\n\t\tNORMAL_SELL_PRICE_M2 as string,\n\t\tOFFICES_CATEGORY_WEIGHT as string,\n\t\tOFFICES_HEAT_FLOW_M2_START_YEAR as string,\n\t\tOFFICES_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tOFFICES_HEAT_FLOW_M2_START_VALUE as string,\n\t\tOFFICES_DEMOLISH_COST_M2 as string,\n\t\tOFFICES_PARKING_LOTS_PER_M2 as string,\n\t\tOFFICES_SELL_PRICE_M2 as string,\n\t\tOFFICES_UNIT_SIZE_M2 as string,\n\t\tOFFICES_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tOFFICES_CONSTRUCTION_COST_M2 as string,\n\t\tOFFICES_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tOFFICES_BUYOUT_COST_M2 as string,\n\t\tLUXE_PARKING_LOTS_PER_M2 as string,\n\t\tLUXE_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tLUXE_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tLUXE_DEMOLISH_COST_M2 as string,\n\t\tLUXE_UNIT_SIZE_M2 as string,\n\t\tLUXE_CONSTRUCTION_COST_M2 as string,\n\t\tLUXE_CATEGORY_WEIGHT as string,\n\t\tLUXE_SELL_PRICE_M2 as string,\n\t\tLUXE_HEAT_FLOW_M2_START_YEAR as string,\n\t\tLUXE_HEAT_FLOW_M2_START_VALUE as string,\n\t\tLUXE_BUYOUT_COST_M2 as string,\n\t\tLUXE_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tINDUSTRY_DEMOLISH_COST_M2 as string,\n\t\tINDUSTRY_BUYOUT_COST_M2 as string,\n\t\tINDUSTRY_CATEGORY_WEIGHT as string,\n\t\tINDUSTRY_SELL_PRICE_M2 as string,\n\t\tINDUSTRY_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tINDUSTRY_PARKING_LOTS_PER_M2 as string,\n\t\tINDUSTRY_HEAT_FLOW_M2_START_YEAR as string,\n\t\tINDUSTRY_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tINDUSTRY_HEAT_FLOW_M2_START_VALUE as string,\n\t\tINDUSTRY_CONSTRUCTION_COST_M2 as string,\n\t\tINDUSTRY_UNIT_SIZE_M2 as string,\n\t\tINDUSTRY_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tEDUCATION_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tEDUCATION_SELL_PRICE_M2 as string,\n\t\tEDUCATION_BUYOUT_COST_M2 as string,\n\t\tEDUCATION_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tEDUCATION_UNIT_SIZE_M2 as string,\n\t\tEDUCATION_CONSTRUCTION_COST_M2 as string,\n\t\tEDUCATION_PARKING_LOTS_PER_M2 as string,\n\t\tEDUCATION_CATEGORY_WEIGHT as string,\n\t\tEDUCATION_HEAT_FLOW_M2_START_YEAR as string,\n\t\tEDUCATION_DEMOLISH_COST_M2 as string,\n\t\tEDUCATION_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tEDUCATION_HEAT_FLOW_M2_START_VALUE as string,\n\t\tLEISURE_PARKING_LOTS_PER_M2 as string,\n\t\tLEISURE_SELL_PRICE_M2 as string,\n\t\tLEISURE_HEAT_FLOW_M2_START_YEAR as string,\n\t\tLEISURE_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tLEISURE_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tLEISURE_CATEGORY_WEIGHT as string,\n\t\tLEISURE_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tLEISURE_HEAT_FLOW_M2_START_VALUE as string,\n\t\tLEISURE_CONSTRUCTION_COST_M2 as string,\n\t\tLEISURE_BUYOUT_COST_M2 as string,\n\t\tLEISURE_UNIT_SIZE_M2 as string,\n\t\tLEISURE_DEMOLISH_COST_M2 as string,\n\t\tHEALTHCARE_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tHEALTHCARE_DEMOLISH_COST_M2 as string,\n\t\tHEALTHCARE_HEAT_FLOW_M2_START_VALUE as string,\n\t\tHEALTHCARE_PARKING_LOTS_PER_M2 as string,\n\t\tHEALTHCARE_CATEGORY_WEIGHT as string,\n\t\tHEALTHCARE_UNIT_SIZE_M2 as string,\n\t\tHEALTHCARE_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tHEALTHCARE_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tHEALTHCARE_SELL_PRICE_M2 as string,\n\t\tHEALTHCARE_BUYOUT_COST_M2 as string,\n\t\tHEALTHCARE_CONSTRUCTION_COST_M2 as string,\n\t\tHEALTHCARE_HEAT_FLOW_M2_START_YEAR as string,\n\t\tNATURE_HEAT_FLOW_M2_START_YEAR as string,\n\t\tNATURE_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tNATURE_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tNATURE_PARKING_LOTS_PER_M2 as string,\n\t\tNATURE_CONSTRUCTION_COST_M2 as string,\n\t\tNATURE_DEMOLISH_COST_M2 as string,\n\t\tNATURE_UNIT_SIZE_M2 as string,\n\t\tNATURE_CATEGORY_WEIGHT as string,\n\t\tNATURE_SELL_PRICE_M2 as string,\n\t\tNATURE_HEAT_FLOW_M2_START_VALUE as string,\n\t\tNATURE_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tNATURE_BUYOUT_COST_M2 as string,\n\t\tGARDEN_PARKING_LOTS_DEMAND_PER_M2 as string,\n\t\tGARDEN_HEAT_FLOW_M2_START_YEAR as string,\n\t\tGARDEN_HEAT_FLOW_M2_CHANGE_PER_YEAR as string,\n\t\tGARDEN_UNIT_SIZE_M2 as string,\n\t\tGARDEN_CATEGORY_WEIGHT as string,\n\t\tGARDEN_CONSTRUCTION_COST_M2 as string,\n\t\tGARDEN_HEAT_FLOW_M2_START_VALUE as string,\n\t\tGARDEN_DEMOLISH_COST_M2 as string,\n\t\tGARDEN_HEAT_POWER_TO_FLOW_MULTIPLIER as string,\n\t\tGARDEN_PARKING_LOTS_PER_M2 as string,\n\t\tGARDEN_SELL_PRICE_M2 as string,\n\t\tGARDEN_BUYOUT_COST_M2 as string,\n\t\tOBJECTID as string,\n\t\tSHAPE_LENGTH as string,\n\t\tCOLOR as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> SourceStagingBuilding\nsource(output(\n\t\tBuilding_sqnr as integer,\n\t\tBuilding_ID as integer,\n\t\tLoad_date_timestamp as timestamp,\n\t\tRecord_source as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> SourceHubBuilding\nsource(output(\n\t\tCategory_ID as integer,\n\t\tName as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> SourceCategory\nsource(output(\n\t\tCategory_sqnr as integer,\n\t\tCategory_ID as integer,\n\t\tLoad_date_timestamp as timestamp,\n\t\tRecord_source as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> SourceHubCategory\nsource(output(\n\t\tBuilding_ID as integer,\n\t\tConstruction_cost_m2 as double,\n\t\tDemolish_cost_m2 as double,\n\t\tBuyout_cost_m2 as double,\n\t\tSell_price_m2 as double,\n\t\tParking_lot_demand_per_m2 as double,\n\t\tParking_lots_per_m2 as double,\n\t\tCategory_ID as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> SourceStagingCategory\nsource(output(\n\t\tBuilding_sqnr as integer,\n\t\tCategory_sqnr as integer,\n\t\tLoad_date_timestamp as timestamp,\n\t\tRecord_source as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> SourceLinkBuildingDetails\nSourceStagingBuilding, SourceHubBuilding lookup(ID == Building_ID,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupBuildingSqnrBuilding\nSourceCategory, SourceHubCategory lookup(SourceCategory@Category_ID == SourceHubCategory@Category_ID,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupCategorySqnrCategory\nSourceStagingCategory, SourceHubBuilding lookup(SourceStagingCategory@Building_ID == SourceHubBuilding@Building_ID,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupBuildingSqnrBuildingDetails\nLookupBuildingSqnrBuildingDetails, SourceHubCategory lookup(SourceStagingCategory@Category_ID == SourceHubCategory@Category_ID,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupCategorySqnrBuildingDetails\nLookupCategorySqnrBuildingDetails, SourceLinkBuildingDetails lookup(SourceHubBuilding@Building_sqnr == SourceLinkBuildingDetails@Building_sqnr\n\t&& SourceHubCategory@Category_sqnr == SourceLinkBuildingDetails@Category_sqnr,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupLinkBuildingDetails\nLookupBuildingSqnrBuilding sink(input(\n\t\tBuilding_sqnr as integer,\n\t\tLoad_date_timestamp as timestamp,\n\t\tEnd_date_timestamp as timestamp,\n\t\tRecord_source as string,\n\t\tName as string,\n\t\tOwner as string,\n\t\tFunction_ as string,\n\t\tConstruction_year as integer,\n\t\tSlanting_roof_height as double,\n\t\tHeat_effect as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tBuilding_sqnr,\n\t\tName = NAME,\n\t\tOwner = OWNER,\n\t\tFunction_ = FUNCTION_,\n\t\tConstruction_year = BOUWJAAR,\n\t\tSlanting_roof_height = SLANTING_ROOF_HEIGHT,\n\t\tHeat_effect = HEAT_EFFECT\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SinkSatBuilding\nLookupCategorySqnrCategory sink(input(\n\t\tCategory_sqnr as integer,\n\t\tLoad_date_timestamp as timestamp,\n\t\tEnd_date_timestamp as timestamp,\n\t\tRecord_source as string,\n\t\tName as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tCategory_sqnr,\n\t\tName\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SinkSatCategory\nLookupLinkBuildingDetails sink(input(\n\t\tBuilding_sqnr as integer,\n\t\tCategory_sqnr as integer,\n\t\tLoad_date_timestamp as timestamp,\n\t\tEnd_date_timestamp as timestamp,\n\t\tRecord_source as string,\n\t\tConstruction_cost_m2 as double,\n\t\tDemolish_cost_m2 as double,\n\t\tBuyout_cost_m2 as double,\n\t\tSell_price_m2 as double,\n\t\tParking_lot_demand_per_m2 as double,\n\t\tparking_lots_per_m2 as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tBuilding_sqnr = SourceLinkBuildingDetails@Building_sqnr,\n\t\tCategory_sqnr = SourceLinkBuildingDetails@Category_sqnr,\n\t\tConstruction_cost_m2,\n\t\tDemolish_cost_m2,\n\t\tBuyout_cost_m2,\n\t\tSell_price_m2,\n\t\tParking_lot_demand_per_m2,\n\t\tparking_lots_per_m2 = Parking_lots_per_m2\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SinkSatBuildingDetails"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Staging_Building')]",
				"[concat(variables('factoryId'), '/datasets/HUB_Building')]",
				"[concat(variables('factoryId'), '/datasets/Category')]",
				"[concat(variables('factoryId'), '/datasets/HUB_Category')]",
				"[concat(variables('factoryId'), '/datasets/Staging_Category')]",
				"[concat(variables('factoryId'), '/datasets/LINK_Building_Details')]",
				"[concat(variables('factoryId'), '/datasets/SAT_Building')]",
				"[concat(variables('factoryId'), '/datasets/SAT_Category')]",
				"[concat(variables('factoryId'), '/datasets/SAT_Building_Details')]"
			]
		}
	]
}